#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>


/ {
    combos {
        compatible = "zmk,combos";
        combo_boot {
            timeout-ms = <50>;
            key-positions = <1 2>;
            bindings = <&bootloader>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "base";
            bindings = <
                &studio_unlock  
                &studio_unlock 
                &studio_unlock  
                &studio_unlock 
                &studio_unlock 
                &studio_unlock 
                &studio_unlock 
                &studio_unlock  
                &A   
                &C_PP   
                &C_NEXT   

            >;
        };
    };
};