#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "base";
            bindings = <
                &studio_unlock    // key 0 (GPIO0 pin 2)
                &studio_unlock    // key 1 (GPIO0 pin 3)
                &studio_unlock   // key 2 (GPIO0 pin 4)
                &studio_unlock   // key 3 (GPIO0 pin 5)
                &studio_unlock   // key 4 (GPIO0 pin 2)
                &studio_unlock   // key 5 (GPIO0 pin 3)
                &studio_unlock   // key 6 (GPIO0 pin 4)
                &studio_unlock   // key 7 (GPIO0 pin 5)
                &studio_unlock    // key 8 (GPIO0 pin 2)
                &studio_unlock   // key 9 (GPIO0 pin 3)
                &studio_unlock    // key 9 (GPIO0 pin 3)

            >;
        };
    };
};